/*
模板名稱:changken-phpblog 默認佈景主題
模板作者:changken
模板版本號:v1.1
模板作者網站:http://changken.biz
模板敘述:默認佈景主題
更新歷史:
v1.1:更新，以符合css3
v1.0:changken-phpblog 默認佈景主題
*/
/*網頁主體樣式*/
body{
font-family:"微軟正黑體";
}
/*頁首樣式*/
.header{
color:white;
background-color:#6E6E6E;
}
.header h1 a{
color:white;
}
/*導覽行樣式*/
.nav{
color:white;
background-color:#0A0A0A;
}
.nav ul li .selected a{
color:black;
}
.nav ul li{
list-style-type:none;
}
.nav ul li a{
color:white;
}
.selected{
background-color:white;
} 
/*側邊欄樣式*/
.aside{
float:right;
margin-right:40px; 
} 
/*內容樣式*/
.content{
background-color:#FAFAFA;
}
/*首頁文章樣式*/
.article{
background-color:#DEDEDE;
margin-right:150px; 
}
/*文章樣式*/
.article{
margin-right:150px; 
}
/*頁面樣式*/
.article{
margin-right:150px; 
}
/*評論區塊樣式*/
.comment{
background-color:#DEDEDE;
}
/*頁尾樣式*/
.footer{
clear:both;
color:white;
background-color:#0A0A0A;
}
.footer a{
color:white;
} 